/* Scss Document */
.image-bg.image-bg-kitchen {
    background-image: url(../images/products/kitchen/code-products-kitchen-01.jpg);
    position: relative;
    filter: brightness(100%)
}
.leading-story.leading-story-products:before {
  display: none;
}
.leading-story.leading-story-products {
  height: 405px;
  position: relative;
  %left-right-navigation {
    width: 160px;
    height: 405px;
    background-position: center center;
    background-repeat: no-repeat;

    a {
      display: block;
      height: 100%;
      width: 100%;
      display: flex;
      align-items: flex-end;
      justify-content: flex-end;
      text-align: right;
      padding: 20px;

      &:hover {
        background-color: $color-secondary;
        background-position: center center;
        background-repeat: no-repeat;
      }
      &:hover span {
        opacity: 1;
        @include linkSmall;
      }
      span {
        opacity: 0;
      }
    }
  }
  .left-navigation {
    @extend %left-right-navigation;
    position: absolute;
    left: -150px;
    background-image: url(../images/code-left-arrow.svg);
    a:hover {
      background-image: url(../images/code-left-arrow.svg);
    }
  }
  .right-navigation {
    @extend %left-right-navigation;
    position: absolute;
    right: -150px;
    background-image: url(../images/code-right-arrow.svg);
    a {
      justify-content: flex-start;
    }
    a:hover {
      background-image: url(../images/code-right-arrow.svg);
    }
    span {
      text-align: left;
    }
  }

}
.products {
  margin-top: 30px;
  margin-bottom: 100px;
  @media (min-width: 768px) {
    margin-top: 0px;
 }

}
.yellow-products-kitchen {
.yellow-box-1{
  height: 400px;
  top: 0px;
  left: 0px;
  width: 100%;
    @media (min-width: 768px) {
      width: 50%;
    }
  @media (min-width: 1280px) {
    height: 475px;
    }

}
.yellow-box-2{
  width: 100%;
  height: 100px;
  bottom: 0px;
  left: 0px;
  top: auto;

}
}

/*-------------------------------------------
kitchen selected
-------------------------------------------*/

.kichen-selected {
  .row:first-child {
    margin-bottom: 75px;
  }
h1 {
  margin-bottom: 43px;
}
.magazine-box {
  p {
    margin-bottom: 25px !important;
  }
}
}
.one-product-selected {
  .hovereffect {
    .col-xs-12:nth-of-type(1){
      @include centerCenter;
    }
    .col-xs-12:nth-of-type(2){
      height: 545px;
      background-color: $color-secondary;
      text-align: left;
      padding: 25px;
      h5 {
        margin-top: 74px;
      }
      p {
        font-size: 13px;
        font-family: $font-primary;
        line-height: 150%;
      }
      .btn-order {
        position: absolute;
        bottom: 25px;
        right: 25px;
      }
    }
  }
}
