/* Scss Document */

/*-------------------------------------------
leading story
-------------------------------------------*/
.container-fluid.load-more  {
  background-color: $color-secondary;
  .container {
    margin-top: 30px;
    margin-bottom: 30px;

    @media (min-width: 768px) {
    margin-top: 100px;
    margin-bottom: 100px;
    }
  }
}
.magazne-yellowbox {
  .yellow-box-1 {
    height: 240px;
    width: 100%;
    right: 0;
    @media (min-width: 768px) {
      height: 100%;
      width: 160px;
      right: 0;
      }
  }
  .yellow-box-2 {
    height: 100%;
    width: 100%;
    right: 0;
    @media (min-width: 768px) {
      height: 100%;
      width: 160px;
      right: 0;
      }
  }

}
.articles-select-lead {
  @media (min-width: 768px) {
  p {
    padding: 0 20px;
  }
  }
}
.leading-story::before {
  @include triangleUp;
  left: 0;
  right: 0;
  margin: 0 auto;
  top: auto;
  bottom:-10px;
  @media (min-width: 768px) {
    display: none;
  }
}
.leading-story {
  height: 395px;
  @media (min-width: 768px) {
    height: 600px;
    }
  padding: 0;
  z-index: 6;
  .row:first-child {
    display: flex;
    flex-direction: column;
    height: 100%;
    @media (min-width: 768px) {
      height: auto;
      }

    .col-xs-12:nth-of-type(1) {
      order: 1;
      z-index: 16;
      @media (min-width: 768px) {
        order: 2;
        }
    }
    .col-xs-12:nth-of-type(2){
      order: 2;
      height: 100%;
      @media (min-width: 768px) {
        order: 1;
        height: auto;
        }
        .btn-filter {
          @include absoluteCenterBtn;
          bottom: 70px;
        }
        .btn-default.btn-back {
          right: auto;
        }
    }
  }
  .container {
    position: absolute;
    z-index: 55;
    margin: 0px auto;
    left: 0px;
    right: 0px;
    height: 100%;
    @media (min-width: 768px) {
      height: auto;
      }

  }
  .image-bg{
    -webkit-filter: brightness(40%);
    filter: brightness(40%);
    @include bgImage ('../images/magazine-page/code-magazine-page-main-bg.jpg');
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  h1 {
    text-align: center;
    color: $color-white;
    margin-top:  50px;
    margin-bottom: 50px;
    font-family: $font-primary-book;
    font-size: 35px;
    span:nth-of-type(1) {
      font-family: $font-primary-bold;
    }
    span:nth-of-type(2) {
      font-family: $font-secondary;
    }
    @media (min-width: 768px) {
      font-size: 50px;
      }
  }
  h3, p {
    color: $color-white;
  }
  h3 {
    font-family: $font-primary-book;
    margin-bottom: 15px;
    margin-top: 0px;
  }
  p {
    margin-bottom: 20px;
  }
  .btn-default {
    color: $color-white;
  }
  .selectors-container {
    @include centerCenter (row, center, center);
    flex-wrap: wrap;
    background-color: $color-secondary;
    padding: 30px;
    height: 405px;
    z-index: 56;
    @media (min-width: 768px) {
      height: 18px;
      margin-bottom: 185px;
      background-color: transparent;
      padding: 0;
      height: auto;
     }
     .selectors {
       @include centerCenter (row, center, space-between);
       flex-wrap: wrap;
       li {
         width: auto;
       }
       li:first-child {
         width: 100%;
       }

       @media (min-width: 768px) {
         justify-content: center;
         li {
           width: auto;
         }
         li:first-child {
           width: auto;
         }
        }
        label {
            margin-bottom: 30px;
          @media (min-width: 768px) {
            margin-bottom: 0px;
           }
        }
     }
     .btn.btn-back, .btn.btn-close  {
        bottom: 25px;
        z-index: 55;
        left: 0;
        right: 0;
        margin: 0 auto;
        top: auto;
        background-position: -24px -104px;
     }
     .btn.btn-close  {
       position: absolute;
     }
     .btn-selector {
       height: 25px;
       color: $color-primary;
       @media (min-width: 768px) {
         height: 18px;
         color: $color-white;
      }
     }
     span {
       bottom: 8px;
       font-size: 13px;
       padding-left: 10px;
       padding-right: 10px;
       @media (min-width: 768px) {
         bottom: 6px;
         font-size: 10px;
         padding-left: 5px;
         padding-right: 5px;

      }
     }
  }
  .selectors-container .btn-selector::after {
    width: 25px;
    height: 25px;
    @media (min-width: 768px) {
      width: 18px;
      height: 18px;
   }
  }
  .selectors-container input:checked + .btn-selector.btn-selector-close::after {
    background: url(../images/code-spritesheet.svg) -3px -273px;
    @media (min-width: 768px) {
      background: url(../images/code-spritesheet.svg) -7px -277px;
   }
  }
  .box:nth-of-type(3) {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
  }
}
.on-off {
  margin-top: 97px;
}

/*-------------------------------------------
articles
-------------------------------------------*/
/*.articles-select {
.hovereffect  a {
position: absolute;
display: flex;
width: 100%;
height: 100%;
cursor: pointer;
z-index: 5;
top: 0;
left: 0;
align-items: center;
}
}
*/
.articles-select {
  .hovereffect .overlay {
    background-color: rgba(0,0,0,0.0);
    @media screen and (min-width: 768px) {
      background-color: rgba(0,0,0,0.6);
    }
  }
  .overlay .btn-default, .magazine-box .btn-default, .overlay .info {
    @include absoluteCenterBtn;
    bottom: 20px;
    @media screen and (min-width: 768px) {
      position: relative;
      bottom: auto;
    }
  }
  .hovereffect a.info {
    top: auto;
    bottom:20px;
    @media screen and (min-width: 768px) {
      top: 3px;
    }
  }

}


.articles, .services {
  position: relative;
  .leading-container {
    text-align: center;
    @media (min-width: 768px) {
      text-align: left;
     }
  }
  /*.leading-container:before  {
    @include triangleUp;
    @media (min-width: 768px) {
      display: none;
    }

  }*/
  .leading-story-article {
    position: relative;
    padding-top: 15px;
    .social-icons.social-icons-transparent {
      display: none;
    }
    p, h3 {
      text-align: left;
    }
    .btn-default {
      margin-bottom: 30px;
    }
    @media (min-width: 768px) {
      padding-top: 0px;
      position: absolute;
      top: -285px;
      z-index: 55;
      h3, p {
        color: $color-white;
        text-align: left;
      }
      h3 {
        font-family: $font-primary-book;
        margin-bottom: 15px;
        margin-top: 0px;
      }
      p {
        margin-bottom: 20px;
        text-align: left;
      }
      .btn-default {
        color: $color-white;
        margin-bottom: 0;
      }
      .selectors-container {
        height: 18px;
        margin-bottom: 185px;
      }
      .box:nth-of-type(2) {
        display: flex;
        align-items: flex-end;
        justify-content: flex-end;
      }
      .social-icons.social-icons-transparent {
        position: relative ;
        right: 0;
        bottom: 0;
        display: inherit;
      }
    }
    @media (min-width: 980px) {
      position: absolute;
      top: -235px;
      z-index: 55;
    }
  }
  .week {
    width: 90px;
    height: 28px;
    background-color: $color-primary;
    color: $color-white;
    font-family: $font-tertiary;
  	font-size: 16px;
  	font-style: italic;
    @include centerCenter (row, center, center);
    margin-bottom: 35px;
    @media (min-width: 768px) {
    margin-top: 0px;
    margin-bottom: 65px;
    }
  }
  h1 {
    margin-bottom: 20px;
    margin-top: 0px;
  }
    .img-responsive {
      width: 100%;
      @media (min-width: 1280px) {
      height: 238px;
   }

  }
  .hovereffect h3 {
    position: absolute;
    z-index: 5;
    left: 20px;
    top: 20px;
    color: $color-white;
  }
  p {
    margin-bottom: 17px;
    text-align: left;
    @media (min-width: 768px) {
    margin-bottom: 45px;
    text-align: center;
    }
  }
  .magazine-box p {
    text-align: left;
  }
  .overlay {
    p {
      margin-bottom: 20px
    }
  }
  .social-icons-transparent {
    position: absolute;
    z-index: 5;
    right: 20px;
    bottom: 20px;
  }
  .overlay {
    p {
      color: white;
      margin-top: 60px;
      width: 40%;
      text-align: left;
      margin-left: 20px;
    }
    .info {
      text-align: left;
      display: block;
      margin-left: 20px;
    }
    .btn-default {
      margin-top: 0px;
      margin-bottom: 0px;
    }

  }
  .hovereffect.hovereffect-triangle:before {
    @include triangleUp;
   }
  .overlay-left-align {
    display: block !important;
    p {
      width: 65%
    }
  }
  .hovereffect.hovereffect-triangle.hovereffect-triangle-down:before {
    bottom: -10px;
    top: auto;
  }
  .btn-load-more {
    margin-top: 30px;
    margin-bottom: 0px;
    @media (min-width: 768px) {
    margin-top: 100px;
    margin-bottom: 100px;
    }
  }
}

.articles .hovereffect-mobile {
  .social-icons-transparent {
    display: none;
  }
  @media (min-width: 768px) {
  .social-icons-transparent {
    display: flex;
  }
}
}
.articles .hovereffect-mobile .image-container {
position: relative;
}

.articles .hovereffect-mobile .image-container:before  {
  @include triangleUp;
  bottom: -10px;
  top: auto;
  @media (min-width: 768px) {
    display: none;
   }
}
.articles .hovereffect-mobile .overlay {
  position: relative;
  background-color: $color-white;
  h3, p {
    color: $color-black;
  }
  h3 {
    font-family: $font-primary-book;
    margin-bottom: 15px;
    margin-top: 0px;
  }
  p {
    margin-top: 60px;
    width: 100%;
    text-align: left;
    margin-left: 0px;
    margin-bottom: 35px;
    font-size: 13px;
  }
  .info {
    text-align: left;
    display: block;
    margin-left: 0px;
  }
  .btn-default {
    margin-top: 0px;
    margin-bottom: 0px;
  }
  /*.info {
    @extend .btn;
    @extend .btn-default;
    font-style: normal;
    padding: 6px 12px;
    text-align: center;
    width: 217px;
    margin: 0 auto;
  }*/
  @media (min-width: 768px) {
  position: absolute;
  background-color:rgba(0,0,0,0.6);
  h3, p {
    color: $color-white;
  }
  p {
    width: 40%;
    margin-left: 20px;
    margin-bottom: 15px
  }
  /*.info {
    margin-left: 20px !important;
    padding: 0 !important;
    display: inline !important;
    float: left !important;
    @include linkSmall;
    font-size: 13px !important;
    font-family: $font-tertiary !important;
    border: none !important;
    color: $color-white !important;
    text-transform: capitalize !important;
    text-align: left !important;
    width: auto !important;
    height: auto !important;
    &:hover {
      background-color: transparent !important;
    }
}*/
}
}
.articles-select {
.img-responsive {
  width: 100%;
  @media (min-width: 1280px) {
  height: auto !important;
    }
  }
}
/*-------------------------------------------
offcanvas
-------------------------------------------*/

@media screen and (max-width: 767px) {
  .row-offcanvas {
    position: relative;
    -webkit-transition: all .25s ease-out;
         -o-transition: all .25s ease-out;
            transition: all .25s ease-out;
  }

  .row-offcanvas-right {
    top: -300px;
  }

  .row-offcanvas-left {
    left: 0;
  }

  .row-offcanvas-right
  .sidebar-offcanvas {
  }

  .row-offcanvas-left
  .sidebar-offcanvas {
    left: -50%; /* 6 columns */
  }

  .row-offcanvas-right.active {
    top: 400px; /* 6 columns */
  }

  .row-offcanvas-left.active {
    left: 50%; /* 6 columns */
  }

  .sidebar-offcanvas {
    position: absolute;
    top: -400px;
    width: 100%; /* 6 columns */
  }
}


/*-------------------------------------------
magazine article
-------------------------------------------*/
.leading-magazine-story {
  margin-bottom: 96px;
  .row:first-child {
    height: 100%;
  }
  .social-icons-transparent {
    position: absolute;
    bottom: 20px;
    right: 0;
    z-index: 55;
    .fa {
      opacity: .5;
    }
  }
  .image-bg-magazine-story{
    background-image: url(../images/magazine-page/magazine-article/code-magazine-magazine-article-01.jpg);
  }
  .container, .row, .col-xs-12 {
    height: 100%;
  }
}

.magazine-article-top {
  h1 {
    font-size: 38px;
    text-align: left;
    width: 66.6%;
    margin-top: 0px;
    margin-bottom: 30px;
    line-height: 135%;
  }
  small {
    color: $color-white;
    @include linkSmall;
  }
  .selectors-container {
    margin-bottom: 40px;
  }
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  height: 100%;
}
.yellow-magazine-article-magazine {
  .yellow-box-1  {
    width: 76.2%;
    height: 100%;
    top: 0px;
    right: 0px;
    }
}
.magazine-article {
  margin-bottom: 100px;

}
.magazine-reach-out {
  margin-top: 100px;
  background-color: $color-secondary;
  .social-opening .social-icons .fa {
    background: $color-white;
    color: $color-secondary;
  }
.form-control {
    background-color: $color-secondary !important;
  }
}
.magazine.magazine-article {
  margin-bottom: 0px;
}
.magazine-article-text {
  .img-responsive {
    width: 100%;
  }
  .caption {
    background-color: $color-secondary;
    padding-top: 0px;
    p {
      @include linkSmall;
      line-height: 120%;
      width: 80%;
      padding: 15px 0 0 15px;
      @media (min-width: 980px) {
        padding: 15px 0 0 15px;
       }

      @media (min-width: 1280px) {
        padding: 10px 0 0 20px;
       }

    }
  }
  p {
    margin-bottom: 75px;
  }
  h4 {
    margin-top: 0px;
  }
  .side-text {
    background-color: $color-secondary;
    padding: 20px !important;
    margin-top: -10px;
    h5 {
      font-size: 13px;
      font-family: $font-primary-bold;
      margin-bottom: 15px;
    }
    p{
      font-size: 13px;
      line-height: 20px;
    }
    p:last-child {
      margin-bottom:0px;
    }
  }
}
.yellow-box-magazine-article {
  .yellow-box.yellow-box-1 {
    width: 30%;
    height: 100%;
    top: -10px;
    right: 0px;
  }
  .yellow-box-2 {
    width: 26%;
    height: 100%;
    top: 0px;
    right: 0px;
}
.yellow-box-4 {
    height: 100%;
    left: 0;
    width: 50%;
  }
  .yellow-box.yellow-box-5 {
      height: 100%;
      right: 0;
      width: 50%;
      top: 0px
    }

}
.left-1 {
margin-left: 20px;
}

.left-2  {
  margin-left: 75px;
}
.magazine-article-picture, .magazine-article-picture-left, .atelier-article-picture {
  //background-color: $color-secondary;
  margin-top: 100px;
  margin-bottom: 95px;
  img {
    width: 100%;

     @media (min-width: 1280px) {
       width: auto;
      }
  }
  .caption {
    padding: 0 !important;
    padding-top: 20px;
    background-color: transparent;
    p {
      @include linkSmall;
      line-height: 120%;
      width: 80%;
    }
  }
}
.atelier-article-picture {
background-image: url(../images/atelier/social/code-atelier-atelier-social-03.jpg);

}
.magazine-article-picture-left {
  p {
    width: 100%;
    padding-left: 25px;
  }
}
.margin-bottom-article {
  margin-bottom: 95px;
}
.widget-story {
  p {
    margin-bottom: 10px;
    font-size: 13px !important;
    text-transform: uppercase;
  }
  .social-icons .fa {
    background-color: $color-primary;
    color: $color-white;
    width: 40px;
    height: 40px;
  }
}
.widget-story-bottom {
  margin: 90px 0 100px 0 ;
}
