/* Scss Document */


@mixin paddingMarginZero {
	padding:0px;
	margin:0px;
}

@mixin centerCenter {
display: flex;
justify-content: center;
align-items: center;
}
@mixin fadeIn {
	-moz-transition: all .2s ease-in;
	-o-transition: all .2s ease-in;
	-webkit-transition: all .2s ease-in;
	transition: all .2s ease-in;
	}
@mixin absoluteCenter {
	position: absolute;
	left: 0;
	right: 0;
	margin-left:  auto;
	margin-right: auto;

}
@mixin triangleUp {
content: '';
position: absolute;
top: -10px;
width: 20px;
height: 20px;
margin: auto;
background: $color-white;
-moz-transform: rotate(-45deg);
-webkit-transform: rotate(-45deg);
margin-left: -10px;
z-index: 15;
}

@mixin linkSmall {
	font-family: $font-tertiary;
	font-size: 13px;
	font-weight: normal;
	font-style: italic;
}
