/* Scss Document */


@mixin paddingMarginZero {
	padding:0px;
	margin:0px;
}

@mixin centerCenter {
display: flex;
justify-content: center;
align-items: center;
}
@mixin fadeIn {
	-moz-transition: all .2s ease-in;
	-o-transition: all .2s ease-in;
	-webkit-transition: all .2s ease-in;
	transition: all .2s ease-in;
	}
@mixin absoluteCenter {
	position: absolute;
	left: 0;
	right: 0;
	margin-left:  auto;
	margin-right: auto;

}
