/* Scss Document */
.image-bg.image-bg-references {
    background-image: url(../images/references/code-references-01.jpg);

}
.references {
  .overlay {
   h4 {
     font-size: 16px;
     color: $color-white;
     font-family: $font-primary-medium;
     margin-bottom: 30px;
     padding: 0 45px;
     line-height: 140%;
     margin-top: 0;
   }
  }
}
.references-selected {
  margin-top:  0px !important;
  margin-bottom:  0px !important;
  @media (min-width: 768px) {
    margin-top:  30px;
  }
}
