/* Scss Document */

$color-primary: #f4633a;
$color-secondary: #faf4e8;
$color-tertiary: #796B9C;
$color-black: #282828;
$color-white: #FFFFFF;


$light-color-gray: lighten($color-black, 80% );
$dark-color-gray: lighten($color-black, 20% );
$mid-color-gray: lighten($color-black, 50% );
$mid-color2-gray: lighten($color-black, 60% );
$text-color-gray: lighten($color-black, 30% );

$light-color-primary: lighten($color-primary, 10% );
$dark-color-primary: darken($color-primary, 10% );

$light-color-secondary: lighten($color-secondary, 10% );
$dark-color-secondary: darken($color-secondary, 5% );

$light-color-white: rgba($color-white,0.40);
$light-2-color-white: rgba($color-white,0.80);
$light-3-color-white: rgba($color-white,0.50);
$light-4-color-white: rgba($color-white,0.65);
$light-5-color-white: rgba($color-white,0.20);

$transparent-color-black: rgba($color-black,0.30);

$fade-color-primary: tint( $color-primary, 20%);
$fade-color-2-primary: tint( $color-primary, 40%);

$fade-color-secondary: tint( $color-secondary, 50%);

$opacity-color-primary: rgba($color-primary,0.95);
$opacity2-color-primary: rgba($color-primary,0.80);

$font-primary: Gotham-SSm-Light, sans-serif;
$font-primary-book: Gotham-SSm-Book, sans-serif;
$font-primary-bold: Gotham-SSm-Bold, sans-serif;
$font-primary-medium: Gotham-SSm-Medium, sans-serif;
$font-primary-italic: Gotham-SSm-Light-italic, sans-serif;
$font-secondary: Didot, sans-serif;
$font-tertiary: Georgia, serif;
